body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
}
body h2 {
  color: #e7a05e;
}
body>h1 {
  color: #92c596;
  text-align: center;
}
